<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/src/style/main.css">
        <meta charset="UTF-8" />
        {% if title %}
        <title>{{ title }} - Studer</title>
        {% else %}
        <title>Studer</title>
        {% endif %}
        {% block head %}{% endblock %}
    </head>
    <body>
        <header>
            <div class="container">
                <div class="header-block">
                    <ol class="header-block__nav">
                        <li><a href="{{ url_for('index') }}">Studer</a></li>
                        <li><a href="{{ url_for('about_us') }}">О нас</a></li>
                        <li><a href="{{ url_for('userPage') }}">Личный кабинет</a></li>
                        <li><a href="{{ url_for('tasksList') }}">Площадка</a></li>
                        {% if current_user.is_authenticated %}
                            <li><a href="{{ url_for('logout') }}">Выход</a></li>
                        {% else %}
                            <!-- <li><a href="{{ url_for('login') }}">Вход</a></li> -->
                        {% endif %}
                        
                    </ol>
                </div>
            </div>
        </header>

        <main>
            {% block content %}{% endblock %}
        </main>



    <footer>
        <strong>STUDER</strong>
    </footer>

    </body>
</html>
