<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="/src/style/bootstrap.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/src/style/main.css" />
    <meta charset="UTF-8" />
    {% if title %}
    <title>{{ title }} - Studer</title>
    {% else %}
    <title>Studer</title>
    {% endif %} {% block head %}{% endblock %}
  </head>
  <body>
    <header id="header">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="{{ url_for('index') }}">studer</a>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a href="{{ url_for('about_us') }}">О нас</a>
              </li>

              <li class="nav-item">
                <a href="{{ url_for('tasksList') }}">Площадка</a>
              </li>

              <li class="nav-item dropdown">
                {% if current_user.is_authenticated %}
                <a
                  class="dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <img
                    id="userIcon_header"
                    src="{{ '/src/data' + current_user.image if current_user.image else '/src/img/user-page/avatar.svg' }}"
                    alt=""
                  />
                  <p id="hereUserName">{{ current_user.name }}</p>
                </a>
                {% else %}
                <a
                  class="dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <p>Присоединиться</p>
                </a>
                {% endif %} {% if current_user.is_authenticated %}
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{{ url_for('userPage') }}"
                    >Личный кабинет</a
                  >
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{{ url_for('logout') }}"
                    >Выход</a
                  >
                </div>
                {% else %}
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{{ url_for('login') }}"
                    >Авторизация</a
                  >
                  <div class="dropdown-divider"></div>
                  <a
                    class="dropdown-item"
                    href="{{ url_for('login', page='register') }}"
                    >Регистрация</a
                  >
                </div>
                {% endif %}
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>

    <main>
      {% block content %}{% endblock %}
    </main>

    <footer>
      <strong>STUDER</strong>
    </footer>
  </body>

  <script src="/src/js/lib/bootstrap.min.js"></script>
  <script src="/src/js/lib/bootstrap.bundle.min.js"></script>
  <script src="/src/js/lib/jQuery.js"></script>
  <script src="/src/js/base.js"></script>

  <!-- <script type="text/javascript">
    $(document).scroll(function(){
        $('header').toggleClass('scrolled', $(this).scrollTop() > $('header').height());
    });
</script> -->

  {% block scripts %}{% endblock %}

  <!-- диалоговое окно -->
  <div class="confirm" id="confirm" style="display: none;">
    <div class="body">
      <h1 class="title" id="messageTitle"></h1>
      <p class="description" id="messageDescription"></p>
      <div class="messageBox-buttons">
        <button
          type="button"
          class="btn btn-danger mbButton"
          onclick="showConfirm.done(true)"
          id="mbYes"
        >
          Да
        </button>
        <button
          type="button"
          class="btn btn-primary mbButton"
          onclick="showConfirm.done(false)"
          id="mbCancel"
        >
          Нет
        </button>
        <button
          type="button"
          class="btn btn-danger mbButton"
          onclick="showConfirm.done(true)"
          id="mbOk"
        >
          ОК
        </button>
      </div>
    </div>
  </div>
</html>
