{% extends "base.html" %} 

{% block content %}
<div class="main-banner">
	<div class="container">
		<div class="banner-block">
			<div class="banner-block__content">
				<h1>НАЧНИ РАБОТАТЬ или найди работника УЖЕ СЕЙЧАС</h1>

				<h2>STUDER</h2>

				<p>не замечай границ</p>
				{% if not current_user.is_authenticated %}
					<a href="/login">Log in</a>
				{% endif %}
			</div>

			<img alt="Рисунок 1" src="/src/img/main-banner.png">
		</div>
	</div>
</div>

<div class="first">
	<div class="container">
		<h2>Здравствуйте мы STUDER</h2>
		<div class="first-block">
			<img src="/src/img/student.svg" alt="Рисунок 2">

			<div class="first-block__string">
				<p>Спасибо что зашли к нам, мы предоставляем качественный сервис для поиска подработки здесь и сейчас, а также рабочий класс, который представляют студенты</p>

				<p>Один из наших девизов <em>все гениальное просто! </em> мы не даем работу тем кому она нужна и тем кому нужен для неё исполнитель</p>

				<p>Мы предоставляем вас друг другу, создавая благоприятные и честные условия вашего сотрудничества, мы ввели системы оценок и рейтинга чтобы попрощаться с недоброжелателями и выделить самых лучших, для того чтобы вы получили то что хотите и вышли из зоны комфорта уже сейчас!</p>
		
				<p> <strong>Уважаемые клиенты</strong> наши исполнители очень смелые и сильные молодые люди т.е студенты - самые амбициозные на всей нашей планете, вас не потревожат подозрительные личности т.к каждого из них мы отбирали из ходя из соображений, которые благоприятно скажутся на вашей потребности в работнике, и все это по справедливой цене, которую вы же и указываете</p>

				<p> <strong>Уважаемые студенты</strong> наши клиенты это обычные люди, чей заказ может нести абсолютно разный характер и затрагивать различные сферы труда, границами являются только воображение клиентов и ваши способности, берите заказ и предлагайте свою цену за вашу добросовестную работу</p>
			</div>
		</div>
	</div>
</div>

<div class="second">
	<div class="container">
		<div class="second-block">
			<h2>А кто вы ?</h2>

			<div class="second-block__clients">
				<div class="second-block__clients__string">
					<h3>Вы клиент ?</h3>

					<ol>
						<li>
							<strong>Мы хотим с вами познакомиться - </strong><br>пройдите регистрацию, для которой от вас требуются лишь номер телефона и сведенья о вас.
						</li>

						<li>
							<strong>Начните сотрудничество - </strong><br> зайдите на площадку и создайте заказ, по нужной вам категории, не забудьте указать место работы и предпочтительную цену, которую вы готовы предоставить исполнителю.
						</li>

						<li>
							<strong>Получите желаемое - </strong><br>
							Выберите подходящего для вас исполнителя и мы вас соединим для дальнейшего выполнения вашего заказа.
						</li>

						<li>
							<strong>На этом еще не все - </strong><br>
							Оцените проделанную работу студента, для улучшения нашего сервиса и возвращайтесь снова, если что-то потребуется.
						</li>
					</ol>
				</div>
				<img class="second-block__clients__img" src="/src/img/back_3.png" alt="img 3">
			</div>

			<div class="second-block__students">
				<img class="second-block__students__img" src="/src/img/back_4.png" alt="img 4">

				<div class="second-block__students__string">
					<h3>Вы cтудент ?</h3>

					<ol>
						<li>
							<strong>Мы хотим с вами познакомиться - </strong><br>пройдите регистрацию, мы предоставляем работу только студентам, в целях улучшить качество сервиса, ваша регистрация отличается от клиентской, от вас требуются номер телефона, фото развернутого студентческого билета и сведенья о вас и учебном заведении в котором вы учитесь.
						</li>

						<li>
							<strong>Начните сотрудничество - </strong><br> зайдите на площадку и найдите заказ по подходящей для вас категории, назначте вашу цену и в кратце расскажите о себе клиенту.
						</li>

						<li>
							<strong>Получите желаемое - </strong><br>
							После одобрения клиента, мы свяжем вас друг-с другом для дальнейшего сотруднечиства.
						</li>

						<li>
							<strong>На этом еще не все - </strong><br>
							Оцените заявку и поведение клиента, для улучшения нашего сервиса и возвращайтесь снова, если что-то потребуется.
						</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="end">
	<div class="container">
		<div class="end-block">
			<h2>Добивайтесь своих целей вместе с нами! <br> желаем удачи!<br> </h2>
			<img src="/src/img/back_5.png" alt="">
		</div>
	</div>
</div>
{% endblock %}
<!-- ©Сергей Осинцев -->