{% extends "base.html" %} {% block head %}
<link rel="stylesheet" href="/src/style/index.css" />
{% endblock %} {% block content %}
<section id="start" class="block-banner">
  <div class="decoration-BackCircle"></div>

  <img src="../src/img/index/+.svg" alt="" class="decoration-ball" />
  <img src="../src/img/index/Rectangle_2.svg" alt="" class="decoration-ball" />
  <img src="../src/img/index/Rectangle_3.svg" alt="" class="decoration-ball" />
  <img src="../src/img/index/Rectangle_2.svg" alt="" class="decoration-ball" />
  <img src="../src/img/index/+.svg" alt="" class="decoration-ball" />
  <img src="../src/img/index/Rectangle_2.svg" alt="" class="decoration-ball" />
  <img src="../src/img/index/Rectangle_3.svg" alt="" class="decoration-ball" />

  <div class="container">
    <div class="main-banner row">
      <div class="main-banner__title col-lg-6 .col-md-12">
        <h1 data-text="STUDER">STUDER</h1>

        <p>
          Место, где выполняются <br />
          ваши задачи
        </p>

        <a href="login?page=register">Присоединиться</a>
      </div>

      <div class="col-lg-6 .col-md-12">
        <img src="../src/img/index/banner.png" alt="" />
      </div>
    </div>
  </div>
</section>

<section class="block-first">
  <img src="../src/img/index/grad_1.svg" alt="" class="decoration-ball" />
  <img src="../src/img/index/grad_2.svg" alt="" class="decoration-ball" />
  <img src="../src/img/index/grad_3.svg" alt="" class="decoration-ball" />
  <img src="../src/img/index/grad_1.svg" alt="" class="decoration-ball" />
  <img src="../src/img/index/grad_2.svg" alt="" class="decoration-ball" />
  <img src="../src/img/index/grad_3.svg" alt="" class="decoration-ball" />

  <img src="../src/img/index/klaksa_1.svg" alt="" class="decoration-klaksa-1" />
  <img src="../src/img/index/klaksa_2.svg" alt="" class="decoration-klaksa-2" />
  <img src="../src/img/index/klaksa_3.svg" alt="" class="decoration-klaksa-3" />

  <div class="decoration-CircleGradient"></div>

  <div class="container">
    <div class="block-first__content">
      <h2>Преимущества</h2>

      <div class="block-first__content-elements">
        <h3>Вы клиент ?</h3>

        <div class="block-first__content-elements__element row">
          <div class="col-lg-6 .col-md-12">
            <img
              class="img__first"
              src="../src/img/index/index_img0.svg"
              alt=""
            />
          </div>

          <p class="col-lg-6 .col-md-12">
            Мы заботливо подбираем для вас надежных работников, готовых
            качественно и недорого выполнять ваши задания.
          </p>
        </div>
      </div>

      <div class="block-first__content-elements">
        <h3>Вы студент ?</h3>

        <div class="block-first__content-elements__element row">
          <p class="col-lg-6 .col-md-12">
            Наш сервис помогает вам не жить от “от стипендии до стипендии”. Мы
            предоставляем вам заказы, выполняя которые вы делаете вклад в своё
            будущее, достигаете своих целей и набираетесь опыта.
          </p>

          <div class="col-lg-6 .col-md-12">
            <img
              class="img__second"
              src="../src/img/index/index_img1.svg"
              alt=""
            />
          </div>
        </div>
      </div>

      <h2>О нас</h2>

      <div class="block-first__content-elements">
        <div class="block-first__content-elements__element row">
          <p class="col-lg-6 .col-md-12">
            Мы даем работу тем, кто в ней нуждается, и обеспечиваем иполнителями
            тех, кто ищет рабочую силу.
          </p>

          <div class="col-lg-6 .col-md-12">
            <img
              class="img__second"
              src="../src/img/index/first-block__3.svg"
              alt=""
            />
          </div>

          <p class=".col-md-12">
            Мы создаем благоприятные и честные условия вашего сотрудничества,
            введя систему оценок и рейтинга для исключения недобросовестных
            пользователей и поощрения лучших из лучших, чтобы все были довольны.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="block-second">
  <div class="container">
    <img src="../src/img/index/grad_1.svg" alt="" class="decoration-ball" />
    <img src="../src/img/index/grad_2.svg" alt="" class="decoration-ball" />
    <img src="../src/img/index/grad_3.svg" alt="" class="decoration-ball" />
    <img src="../src/img/index/grad_1.svg" alt="" class="decoration-ball" />
    <img src="../src/img/index/grad_2.svg" alt="" class="decoration-ball" />
    <img src="../src/img/index/grad_3.svg" alt="" class="decoration-ball" />

    <div class="block-second__content">
      <a href="#start">ПРИСОЕДИНЯЙСЯ К НАМ УЖЕ СЕЙЧАС!</a>
    </div>
  </div>
</section>
{% endblock %}
<!-- ©Сергей Осинцев -->
