{% extends "base.html" %} 

{% block head %}
    <link rel="stylesheet" href="/src/style/register.css">
{% endblock %}


{% block content %}

<section class="block-autoris">
    <div class="container">
        <div class="block-autoris__content">
            <div class="block-autoris__content__title">
                <h1>studer</h1>
            </div>

            <div class="block-autoris__content__variants">
                <button id="btnAutoris" onclick="a(false)" class="button-bordered">Войти</button>

                <span>/</span>

                <button id="btnRegister" onclick="a(true)">Зарегистрироваться</button>
            </div>

            <div class="block-autoris__content__container-form">
                <div id="contentForm" class="block-autoris__content__container-form__content-form">
                    <form action="" method="post" novalidate id="autoris" class="block-autoris__content__container-form__content-form__form-autorise">
                        {{ loginForm.hidden_tag() }}

                        {{ loginForm.username(size=32, placeholder="Логин") }}
                        {% for error in loginForm.username.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}

                        {{ loginForm.password(size=32, placeholder="Пароль") }}
                        {% for error in loginForm.password.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}

                        <div class="row checkBlock">
                                {{ loginForm.remember_me() }} {{ loginForm.remember_me.label }} 
                        </div>

                        {{ loginForm.submit() }}
                    </form>

                    <form id="register" class="block-autoris__content__container-form__content-form__form-register" action="" method="post">
                            {{ registrForm.hidden_tag() }}
                            <div class="row checkBlock ">
                                    {% for subfield in registrForm.activity %}
                                        {{ subfield }}
                                        {{ subfield.label }}
                                    {% endfor %}
                            </div>

                            {{
                                registrForm.sname(
                                    size=32,
                                    placeholder='Фамилия',
                                    oninvalid='this.setCustomValidity("Введите вашу фамилию!")',
                                    oninput='setCustomValidity("")'
                                )
                            }}
                            {% for error in registrForm.sname.errors %}
                            <span style="color: red;">{{ error }}</span>
                            {% endfor %}


                            {{ registrForm.name(size=32, placeholder='Имя') }}
                            {% for error in registrForm.name.errors %}
                            <span style="color: red;">{{ error }}</span>
                            {% endfor %}


                            {{ registrForm.pname(size=32, placeholder='Отчество') }}
                            {% for error in registrForm.pname.errors %}
                            <span style="color: red;">{{ error }}</span>
                            {% endfor %}


                            {{ registrForm.username(size=32, placeholder='Логин') }}
                            {% for error in registrForm.username.errors %}
                            <span style="color: red;">{{ error }}</span>
                            {% endfor %}


                            {{ registrForm.password(size=32, placeholder='Пароль') }}
                            {% for error in registrForm.password.errors %}
                            <span style="color: red;">{{ error }}</span>
                            {% endfor %}


                            {{ registrForm.password2(size=32, placeholder='Повторите пароль') }}
                            {% for error in registrForm.password2.errors %}
                            <span style="color: red;">{{ error }}</span>
                            {% endfor %}

                            {{ registrForm.submit() }} 
                        </form>
                </div>
            </div>

        </div>
    </div>
</section>

<script src="/src/js/register.js"></script>

{% endblock %}
