<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="http://findpic.online/res/jq.js"></script>
    <script src="/src/js/auth.js"></script>
    <title>Auth</title>
</head>
<body>
    <form onsubmit="return false">
        <label for="login">login</label>
        <input id="login" name="login" type="text">
        <label for="pass">password</label>
        <input id="pass" name="pass" type="text">
        <input type="submit" id="submit">
    </form>
</body>
</html>