{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="/src/style/auth.css">
{% endblock %}

{% block content %}
<h1>Регистрация</h1>
<form action="" method="post">
    {{ registrForm.hidden_tag() }}
    <p>
        {{ registrForm.sname.label }}<br>
        {{ registrForm.sname(size=32) }}<br>
        {% for error in registrForm.sname.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ registrForm.name.label }}<br>
        {{ registrForm.name(size=32) }}<br>
        {% for error in registrForm.name.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ registrForm.pname.label }}<br>
        {{ registrForm.pname(size=32) }}<br>
        {% for error in registrForm.pname.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ registrForm.username.label }}<br>
        {{ registrForm.username(size=32) }}<br>
        {% for error in registrForm.username.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ registrForm.activity.label }}
        {% for subfield in registrForm.activity %}
            {{ subfield }}
            {{ subfield.label }}
        {% endfor %}
    </p>
    
    <p>
        {{ registrForm.password.label }}<br>
        {{ registrForm.password(size=32) }}<br>
        {% for error in registrForm.password.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ registrForm.password2.label }}<br>
        {{ registrForm.password2(size=32) }}<br>
        {% for error in registrForm.password2.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ registrForm.submit() }} 
        <a href="{{ url_for('login') }}">Вход</a>
    </p>
</form>
{% endblock %}