{% extends "base.html" %} {% block head %}
<link rel="stylesheet" href="/src/style/tasks.css" />
{% endblock %} {% block content %}

<div class="container">
  {% if current_user.activity != 'Студент' and current_user.is_authenticated %}
  <a id="addOrder" href="{{ url_for('task_page') }}">
    Добавить заказ
  </a>

  {% endif %} {% if current_user.is_authenticated %}
  <a id="mainOrder" href="{{ url_for('tasksList')}}?user={{ current_user.id }}">
    Мои заказы
  </a>
  {% endif %}
  <table>
    {% for task in tasks %}
    <tr class="table" data-href="/task-page/{{ task.id }}">
      <td class="table__name">{{ task.author.name }}</td>
      <td class="table__img">
        <a href="/user/{{ task.author.id }}">
          <img id="avatarStudent" src="/src/data/{{ task.author.image }}"
        /></a>
      </td>
      <td class="table__title">{{ task.title }}</td>
      <td class="table__description">{{ task.description }}</td>
      <td class="table__sum">{{ task.sum }}руб.</td>
      <!-- <td class="table__data">{{ task.data }}</td> -->
      <td class="table__status">{{ task.status }}</td>
    </tr>

    {% endfor %}
  </table>
</div>

<script src="/src/js/lib/jQuery.js"></script>
<script>
  $("tr[data-href]").on("click", function() {
    document.location = $(this).data("href");
  });
</script>

{% endblock %} {% block scripts %} {% endblock %}
